
	<%- include('./partials/header.ejs')%>
	<!-- Banner -->
	<div class="banner">
		<img src="/images/banner-compu.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/macbookpro.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>MacBook Pro</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/Microsoft.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Microsoft</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/RazerBlade.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Razer Blade</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/XaomiMiPro.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Xaomi Pro</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/HP15.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Hp Ultimate</h2>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/DellInspiron.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Dell Inspiration</h2>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/AsusROGStix.jpg" alt="Asus">
						</figure>
						<article class="product-box_data">
							<h2>Asus ROG </h2>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/Alienware15.jpg" alt="Alien Ware">
						</figure>
						<article class="product-box_data">
							<h2>AlienWare 15</h2>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 2</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->

<%- include('./partials/footer.ejs')%>;

	