<%- include('./partials/header.ejs')%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> </h2>
				<!-- form para login --> 
				<form class="formularios" action="/profile" method="get" action="get">
                    <h2>Inicia Sesión</h2>
                    <p>
                        <label for="">Email</label>
                        <input type="email" name="email">
                    </p>
					
                    <p>
                        <label for="">Contraseña</label>
                        <input type="password" name="contra">
                    </p>
                    <p>
                        <label >Recordarme</label>
                        <input type="checkbox" name="recordame">
                    </p>

                    <p>
                        <a href="/views/profile.ejs" class="main-header_home-link"><button>Iniciar sesion</button></a>
                    </p>

                </form>
			


<%- include('./partials/footer.ejs')%>;