	<!-- Header -->
	<% if (user) { %>
		<%- include('./partials/header_logueado') %>
		<% } else{ %>
		<%- include('./partials/header') %>
		<%} %>
    <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"><%= msg %> </h2>
			</div>
        </div>
    </div>
<%- include('./partials/footer.ejs')%>;