<%- include('./partials/header.ejs')%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form class="formularios" action="/users/profile" method="get" action="get">
                    
                    <p>
                        <label for="">Nombre del producto</label>
                        <input type="email" name="nombre">
                    </p>
					
                    <p>
                        <label for="">Imagen</label>
                        <input type="" name="img">
                    </p>
                    <p>
                        <label >Descripcion</label>
                        <input type="text" name="descripcion">
                    </p>
					<p>
                        <label >Fecha de carga</label>
                        <input type="date" name="fecha">
                    </p>

                    <p>
                        <button>Agregar producto</button>
                    </p>
                </form>
			</h2>


			<%- include('./partials/footer.ejs')%>;
</body>

</html>