<%- include('./partials/header_logueado.ejs')%>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Acer Aspire 5</h2> 
			<p class="product-detail-description">
				<a href="/product/add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/AcerAspire5.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Ya sea que se encuentre en casa, en la escuela o en el trabajo, obtenga todo el rendimiento que necesita con uno de los procesadores Intel más recientes; así, podrá mantener el orden y hacer que sus aplicaciones se ejecuten de manera estable y sin problemas.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/profile">Juan Manuel de Rosas: </a> </strong>
								No hay notebook en el mercado con las prestaciones de ésta y a mejor precio. Es rápida y el renderizado es bueno.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile">Juan Jose Paso: </a> </strong>
									El ángulo de visión de la pantalla no es tan amplio, pero suficiente. La batería dura por lo menos 4 horas o más, dependiendo del uso de la cpu/gpu. Eso está bien, teniendo en cuenta el tipo de cpu que trae. </p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile">Norberto Ulibelarrea: </a> </strong>
									Diez puntos, la compu viene lista para usar, y con las especificaciones pedidas. Anda bárbaro y el mismo día en que vino, ya estaba trabajando con ella. Me salvaron!
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile">Cristobal Colon: </a> </strong>
									Muy buena relacion calidad-precio. Por este valor muy dificil encontrar las prestaciones que tiene esta maquina.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile">Albert Ainstein: </a> </strong>
									Excelente máquina, la probé luego de haber instalado el sistema operativo. Es un avión me tomó todos los programas rapidísimo. El material es de muy buena calidad se lo ve resistente</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('./partials/footer.ejs')%>;

</body>	
</html>