<%- include('./partials/header.ejs')%>

<!-- Novedades -->
<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
			<h2 class="products-title">Registrate</h2>
		</div>
		<!-- El enctype estructura el formulario de tal manera de q se pueda usar en la ruta como queremos y enviar la foto al workbench. Todo lo de la ruta es posible por el enctype.--> 
		<form action="" method="post" class="formularios" enctype="multipart/form-data"> 
			<div class="mb-3">
				<label class="campos" for="mail" class="letraForm"> E-mail: </label> <br>
				<input type="email" name="email" id="email" placeholder="EMAIL" >
			</div>
			<div class="mb-3">
				<label class="campos" for="user" class="letraForm"> Username: </label> <br>
				<input type="text" name="username" id="username" placeholder="USERNAME">
			</div>
			<div class="mb-3">
				<label class="campos" for="password" class="letraForm"> Password: </label> <br>
				<input type="password" name="password" id="password" placeholder="PASSWORD">
			</div>
			<div class="mb-3">
				<label class="campos" class="letraForm" for="age"> Fecha de nacimiento: </label> <br>
				<input type="date" name="birthdate" placeholder="BIRTHDATE" >
			</div>
			<div class="mb-3">
				<label class="campos" class="letraForm" for="id"> Foto de perfil: </label> <br>
				<input type="file" name="photo" placeholder="">
			</div>
			<p>
				<button type="submit"> Register </button>
			</p>
		</form>
	</div>
</div>

<%- include('./partials/footer.ejs')%>;