<%- include('./partials/header.ejs')%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> No contamos con esa computadora por el momento </h2>
		</div>
	</div>

<%- include('./partials/footer.ejs')%>;
